@using CSharpPortfolioNet7.Web.Pages.Components;
@using CSharpPortfolioNet7.Web.Shared;

@page "/"

<div>
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <NavMenu></NavMenu>
        </MudItem>
        <MudItem xs="12">
            <HeaderComponent Model="@Model.Header"/>
        </MudItem>
        <MudItem xs="12">
            <AboutComponent Model="@Model.About"/>
        </MudItem>
    </MudGrid>
</div>