<div class="header-background d-flex">
  
    <MudGrid Class="my-auto d-flex">
        <MudItem xs="12">
            <MudText Typo="Typo.h1">I am @Model.Name.</MudText>
        </MudItem>

        <MudItem xs ="12" md="7" Class="mx-auto">
            <MudText Typo="Typo.body1">@Model.Description</MudText>
        </MudItem>
    </MudGrid>
    

    <h3></h3>
</div>


<style>
    .header-background
    {
        position: relative;
        height: 800px;
        min-height: 500px;
        width: 100%;
        background: #161415 url("/images/background.jpg") no-repeat top center;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        text-align: center;
        overflow: hidden;
    }
</style>