<div class="header-background">

    <h1>test</h1>
    <h1>@Model.Name</h1>
    <h1>@Model.Role</h1>
    <h1>@Model.Linkedin</h1>
</div>


<style>
    .header-background
    {
        position: relative;
        height: 800px;
        min-height: 500px;
        width: 100%;
        background: #161415 url("/images/background.jpg") no-repeat top center;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        text-align: center;
        overflow: hidden;
    }
</style>